{% extends 'BaseTemplate.twig' %}

{% block content1 %}
<body>
    <section class="Jeu" id="Jeu">
        {% for data in objetphrase %}
        <div class="temps_niveau">
            <p>Temps:&nbsp;{{ data.conju_temps }}</p>
            <p>Niveau:&nbsp;{{ data.conju_niveau }}</p>
        </div>
        <div class="phrase">
        
            <p id="phraseTest">{{ phraseTps }}</p><span id="hideVerbe"></span><p>{{ phraseTpsAfter }}</p>
            
        </div>
        <div class="reponses">
        <span id="reponse">{{ reponse }}</span>
        {% for dataRep in reponses %}

            <button id="RepBtn">{{ dataRep }}</button>

        {% endfor %}
        </div>
    
        <div class="suivant">
            <span id="nombreClick">nombre de click:</span>
            <span id="numerophrase">1/5 </span>
            <button id="Next">Suivant</button>
        </div>
        {% endfor %}
    </section>
</body>
{% endblock %}