{% extends 'BaseTemplate.twig' %}

{% block content1 %}
<body>
    <section class="Jeu" id="Jeu">
        {% set phraseLength = objetphrase|length %}
        {% for i in 0..0 %}
        <div class="temps_niveau">
            <p>Temps:&nbsp;{{ objetphrase[i].conju_temps }}</p>
            <p>Niveau:&nbsp;{{ objetphrase[i].conju_niveau }}</p>
        </div>
        <div class="phrase" id="phrase">
            <div id="avant">
                <p id="phraseTest">{{ phraseTps }}</p><span id="hideVerbe"></span><p id ="phraseTest">{{ phraseTpsAfter }}</p>
            </div>
            <div id="apres">
                <p> {{ phrasecomplete }} </p>
            </div>
        </div>
        <div class="reponses">
        <span id="reponse" hidden>{{ reponse }}</span>
        {% for dataRep in reponses %}
            <button  class="RepBtn" id="RepBtn">{{ dataRep }}</button>
        {% endfor %}
        </div>

        <div class="suivant">
            <button id="Next">Suivant</button>
        </div>
    
        <div class="click">
            <span id="nombreClick">Nombre de click:</span>
            <span id="numerophrase">1/5 </span>
        </div>
        {% endfor %}
    </section>

    <script src="./views/templates/js/MainPhrase.js"></script>
</body>
{% endblock %}