{% extends 'BaseTemplate.twig' %}

{% block content1 %}
<body>
    <section class="Jeu" id="Jeu">
        {% set nbPhrases = phrase|length %}
        {% for i in 0..(nbPhrases-2) %}
        <div class="temps_niveau">
            <p>Temps:&nbsp;</p>
        </div>
        <div class="phrase" id="phrase">
            <div id="avant">
                <p id="phraseTest">{{ before[i] }}</p><span id="hideVerbe"></span><p id ="phraseTest">{{ after[i] }}</p>
            </div>
            <div id="apres">
                <p> {{ phrase[i] }} </p>
            </div>
        </div>
        <div class="reponses">
            <span id="reponse" hidden></span>
            {% for dataRep in reponses[i] %}
            <button  class="RepBtn" id="{{ dataRep }}">{{ dataRep }}</button>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="suivant">
            <button id="Next" class="">Suivant</button>
        </div>
        <div class="nombrePhrases">
            <p></p>
        </div>
        <div class="click">
            <span id="nombreClick"></span>
        </div>
        
    </section>
    <script src="./views/templates/js/MainPhrase.js"></script>
</body>
{% endblock %}